<ion-row class="ion-padding ion-justify-content-center">
    <img src="{{ groupImg }}" alt="image for muscular group" width="120" height="120"/>
</ion-row>
<ion-row class="ion-padding">
    <ion-col size="9">
        <mat-form-field appearance="legacy" class="ion-padding-vertical">
            <mat-label>{{ groupId>0 ? "Editar" : "Nuevo" }} Grupo</mat-label>
            <input matInput placeholder="Introduce un nombre" [(ngModel)]="groupName">
        </mat-form-field>
    </ion-col>
    <ion-col size="3"></ion-col>
</ion-row>
<ion-row class="ion-padding">
    <ion-col class="ion-text-end" size="9">
        <mat-form-field appearance="legacy">
            <mat-label position="stacked">Imagen para el Grupo</mat-label>
            <input matInput placeholder="Image For muscle group">
        </mat-form-field>
    </ion-col>
    <ion-col class="ion-text-start" size="2">
        <button mat-mini-fab aria-label="new image" class="add-icon-button" color="dark"  (click)="newImage()"> 
            <mat-icon>add</mat-icon>
        </button>
    </ion-col>
    <ion-col size="1"></ion-col>
</ion-row>
<div class="ion-text-center ion-padding-bottom">
    <button mat-raised-button color="primary" class="btn-icon-left center-button" (click)="saveGroup()">
        <mat-icon>done</mat-icon>
            Guardar
    </button>
</div>