<ion-row class="ion-padding ion-justify-content-center">
    <img src="{{ groupImg }}" alt="image for muscular group" width="120" height="120"/>
</ion-row>
<ion-row class="ion-padding">
    <ion-label position="stacked" class="tiny-text">{{ groupId>0 ? "Editar" : "Nuevo" }} Grupo</ion-label>
    <ion-input placeholder="Introduce un nombre" [(ngModel)]="groupName"></ion-input>
</ion-row>
<ion-row class="ion-padding">
    <ion-col size="10">
        <ion-label position="stacked" class="tiny-text">Imagen para el Grupo</ion-label>
        <ion-input [(ngModel)]="groupImg" placeholder="Image For muscle group"></ion-input>
    </ion-col>
    <ion-col class="ion-text-start ion-align-self-end" size="2">
        <ion-fab-button style="margin-bottom: 0;" size="small" color="dark" (click)="newImage()"> 
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-col>
</ion-row>
<div class="ion-text-center ion-margin-bottom">
    <ion-button color="primary" (click)="saveGroup()">
        <ion-icon slot="start" src="assets/svg-app/checkmark-outline.svg"></ion-icon>
        Guardar
    </ion-button>
</div>