<div style="overflow:scroll">
    <div class="ion-padding">
        <ion-label>Filtrar entreno por:</ion-label>
        <div class="divider ion-margin-bottom"></div>
        <ion-label position="stacked" class="tiny-text">Grupo Muscular</ion-label>
        <ion-select class="ion-margin-bottom" placeholder="Selecciona un Grupo muscular" multiple="false" interface="action-sheet" (ionChange)="onChangeMgroup($event)">
            <ion-select-option *ngFor="let gr of m_groups" value="{{gr.id}}">{{ gr.name | titlecase }}</ion-select-option>
        </ion-select>
        <ion-label position="stacked" class="tiny-text">Ejercicio</ion-label>
        <ion-select placeholder="Seleciona Ejercicio" multiple="false" value="{{exercise_id}}" interface="action-sheet" (ionChange)="onChangeExercise($event)">
            <ion-select-option *ngFor="let ex of exercises" value="{{ex.id}}">{{ ex.name | titlecase }}</ion-select-option>
        </ion-select>
    </div>
    <div class="ion-padding">
        <ion-label>Filtrar entreno por fechas</ion-label>
        <div class="divider ion-margin-bottom"></div>
        <ion-label position="stacked" class="tiny-text">Fecha de inicio</ion-label>
        <ion-datetime class="ion-margin-bottom" value="{{initDate}}" doneText="Guardar" displayFormat="DD-MMM-YYYY" placeholder="Seleciona Fecha" (ionChange)="onChangeInitDate($event)"></ion-datetime>
        <ion-label position="stacked" class="tiny-text">Fecha final</ion-label>
        <ion-datetime value="{{endDate}}" doneText="Guardar" displayFormat="DD-MMM-YYYY" placeholder="Seleciona Fecha" (ionChange)="onChangeEndDate($event)"></ion-datetime>
    </div>
    <div class="divider"></div>
    <div class="ion-margin-vertical ion-text-center">
        <label class="title_border ion-padding ion-margin-vertical" *ngIf="entrenos.length > 0">Entrenos</label>
        <ion-button class="ion-margin-bottom" *ngIf="entrenos.length>0" color="primary" size="full" (click)="deleteAll()">
            <ion-icon slot="start" src="assets/svg-app/delete-outline.svg"></ion-icon>
            Eliminar Todos
        </ion-button>
        <ion-list *ngIf="entrenos.length>0" lines="inset">
            <ion-item *ngFor="let entreno of entrenos">
                <ion-text (click)="goActions(entreno)">
                    <h2>{{entreno.exercise_name}}</h2>
                    <h3>({{entreno.muscle_name}})</h3>
                    <p>{{ entreno.date | date:'d-M-yyy'}}</p>
                </ion-text>
            </ion-item>
        </ion-list>
    </div>
</div>