<div class="ion-padding ion-justify-content-center">
    <ion-label>{{ exerciseId > 0 ? "Editar" : "Nuevo" }} Ejercicio</ion-label>
</div>
<ion-row class="ion-padding">
    <ion-col size="10">
        <ion-label position="stacked" class="tiny-text">Grupo Muscular</ion-label>
        <ion-select placeholder="Selecciona un Grupo muscular" multiple="false" value="{{m_group_id > 0 ? m_group_id : 0}}" interface="action-sheet" (ionChange)="onChangeMgroup($event)">
            <ion-select-option *ngFor="let gr of m_groups" value="{{gr.id}}">{{ gr.name | titlecase }}</ion-select-option>
        </ion-select>
    </ion-col>
    <ion-col class="ion-text-start ion-align-self-end" size="2">
        <ion-fab-button  style="margin-bottom: 0;" size="small" color="dark" (click)="newMuscleGroup()"> 
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-col>
</ion-row>
<ion-row class="ion-padding">
    <ion-label position="stacked" position="stacked" class="tiny-text">Nombre del ejercicio</ion-label>
    <ion-input matInput type="text" placeholder="Ejemplo:Press Banca" [(ngModel)]="exerciseName"></ion-input>
</ion-row>
<div class="ion-text-center ion-padding-bottom">
    <ion-button color="primary" (click)="newExercise()">
        <ion-icon slot="start" src="assets/svg-app/checkmark-outline.svg"></ion-icon>
        Guardar
    </ion-button>
</div>