<app-header></app-header>
<ion-content class="ion-padding">
    <ion-card>
        <ion-card-header (click)="collapseCard1 = !collapseCard1">
            <ion-card-title>
                Grupos musculares
            </ion-card-title>
            <ion-icon src="assets/svg-app/{{collapseCard1 ? 'chevron-up-outline.svg': 'chevron-down-outline.svg'}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="collapseCard1">
            <nuevo-grupo-muscular></nuevo-grupo-muscular>
            <div class="divider"></div>
            <grupos-musculares></grupos-musculares>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="collapseCard2=!collapseCard2">
            <ion-card-title>
                Ejercicios
            </ion-card-title>
            <ion-icon color="secondary" src="assets/svg-app/{{collapseCard2 ? 'chevron-up-outline.svg': 'chevron-down-outline.svg'}}"></ion-icon>            
        </ion-card-header>
        <ion-card-content *ngIf="collapseCard2">
            <nuevo-ejercicio></nuevo-ejercicio>
            <div class="divider"></div>
            <ejercicios></ejercicios>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header (click)="collapseCard3=!collapseCard3">
            <ion-card-title>
                Entrenamientos
            </ion-card-title>
            <ion-icon src="assets/svg-app/{{collapseCard3 ? 'chevron-up-outline.svg': 'chevron-down-outline.svg'}}"></ion-icon>
        </ion-card-header>
        <ion-card-content *ngIf="collapseCard3">
            <entrenos></entrenos>
        </ion-card-content>
    </ion-card>
</ion-content>