<app-header></app-header>
<ion-content class="ion-padding">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Grupos musculares
            </mat-panel-title>
        </mat-expansion-panel-header>
        <nuevo-grupo-muscular></nuevo-grupo-muscular>
        <mat-divider></mat-divider>
        <grupos-musculares></grupos-musculares>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Ejercicios
            </mat-panel-title>
        </mat-expansion-panel-header>
        <nuevo-ejercicio></nuevo-ejercicio>
        <mat-divider></mat-divider>
        <ejercicios></ejercicios>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Entrenamientos
            </mat-panel-title>
        </mat-expansion-panel-header>
        <entrenos></entrenos>
    </mat-expansion-panel>
</ion-content>