// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
    /** Global css**/
    --ion-background-color: #2d2b2b;
    --ion-text-color: #fbf4f4;
    /* custom colors*/
    --ion-color-primary: #c2185b;
    --ion-color-primary-rgb: 194, 24, 91;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #ab1550;
    --ion-color-primary-tint: #c82f6b;
    --ion-color-secondary: #424242;
    --ion-color-secondary-rgb: 66, 66, 66;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #3a3a3a;
   --ion-color-secondary-tint: #555555;
    --ion-color-tertiary: #ff00ff;
    --ion-color-tertiary-rgb: 255, 0, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #e000e0;
    --ion-color-tertiary-tint: #ff1aff;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #ff0000;
    --ion-color-danger-rgb: 255, 0, 0;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #e00000;
    --ion-color-danger-tint: #ff1a1a;
    --ion-color-dark: #3e3939;
    --ion-color-dark-rgb: 62, 57, 57;
    --ion-color-dark-contrast: #c2185b;
    --ion-color-dark-contrast-rgb: 194, 24, 91;
    --ion-color-dark-shade: #373232;
    --ion-color-dark-tint: #514d4d;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9; 
}