<div class="ion-padding">
    <ion-label position="stacked" class="tiny-text ion-margin-bottom">Filtrar por Grupo Muscular</ion-label>
    <ion-select class="ion-margin-bottom" placeholder="Selecciona un Grupo muscular" multiple="false" interface="action-sheet" (ionChange)="onChangeMgroup($event)">
        <ion-select-option value="0">Todos</ion-select-option>
        <ion-select-option *ngFor="let gr of m_groups" value="{{gr.id}}">{{ gr.name | titlecase }}</ion-select-option>
    </ion-select>
    <ion-list lines="inset">
        <ion-item *ngFor="let ex of exercises" (click)="goActions(ex)">
            <ion-label>{{ ex.name | titlecase }} ({{ ex.muscle_name }})</ion-label>
        </ion-item>
    </ion-list>
</div>