/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-content{
	--background:#2d2b2b url(assets/back.jpg) no-repeat center/cover fixed;
}

ion-card{
    --color: var(--ion-text-color) !important;
	--background: #2c2c2c !important;
	border-top:2px solid var(--ion-color-primary-shade);
	padding: 15px 5px 10px!important;
	margin: 0 5px 16px !important;
	.buttons{
		margin-top: 16px;
		justify-content: center;
	}
}

ion-card-content{
	text-align: left;
}

ion-card-header{
	text-align: center;
}

ion-card-title{
	@extend .medium-text;
	color:var(--ion-text-color);
}

ion-card-subtitle{
	color: var(--ion-color-medium) !important;
}

ion-datetime,
ion-input,
ion-select,
ion-textarea{
	width: 100%;
    background: rgba(255, 255, 255, 0.14) !important;
    text-align: left;
    padding: 8px 4px;
    max-width: 500px;
	margin-top: 3px;
	@extend .line_bottom;
}

ion-col{
    margin: 0 !important;
    padding: 0 !important;
}

ion-label{
    transform: none !important;
    width: 100% !important;
}
.sc-ion-card-md-s,
.sc-ion-card-md-h {
    img{
        width: auto !important;
    }
}
.divider:after{
	content: "";
    width: 98%;
    height: 0.3px;
    display: block;
    background-color: #eae4e454;
    margin-left: auto;
    margin-right: auto;
}

/* action shet styles*/
ion-action-sheet {
	--backdrop-opacity:.8;
	--background: var(--ion-background-color) !important;
	--color: var(--ion-text-color) !important;
	--background-selected: var(--ion-color-primary-tint) !important;
	--background-activated: var(--ion-color-primary-tint) !important;
	.action-sheet-title{
		background-color: #101010;
		border-top:2px solid var(--ion-color-primary-shade);
		height: auto !important;
	}
	
	.action-sheet-button:after{
			content: "";
			width: 98%;
			height: 0.3px;
			display: block;
			background-color: #eae4e454;
			margin-left: auto;
			margin-right: auto;
			bottom:0;
	}
	.action-sheet-button{
		contain:none !important;
		overflow: visible !important;
	}
	
}
/* end*/

/* style for date time picker*/
.sc-ion-picker-md-h{
	--background: var(--ion-background-color,#2d2b2b);
    --border-width: 1.55px 0 0;
    --border-color: var(--ion-color-primary-shade,#ab1550);
    --color: var(--ion-color-medium-shade,#86888f);
}
.picker-toolbar {
    background: #303030 !important;
    margin-bottom: 15px;
}
/* end */
/* modals styles*/
.modal-style {
	--border-radius: 10px;
	--width:300px;
	--max-width: 90%;
	--max-height: 80%;
	color:white;
	--background: var(--ion-background-color,#2d2b2b);
	overflow-y: scroll;
}

.modal-style .ion-page {
	display: flex;
	justify-content: center;
	align-content: center;
}

.modal-style .modal-wrapper.sc-ion-modal-md {
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
}
/*end*/

/* alert styles*/
.alert-wrapper{
	background: var(--ion-color-background);
	.alert-head{
		:after {
			content: "";
			width: 98%;
			height: .1px;
			background: #6d6a6a;
			bottom: 0;
			display: block;
			margin-top: 10px;
		}
		.alert-title{
			font-size: 14px !important;
		}
	}
	.alert-message{
		font-size: 12px !important;
	}
}
.alertButton{
	color: var(--ion-color-primary);
	:hover{
		background-color:var(--ion-color-primary-tint);
	}
}

/*end */
.monthview-selected {
	background-color: var(--ion-color-dark-tint) !important;
}

.monthview-current {
	background-color: var(--ion-color-primary) !important;
}

.table {
	background-color: var(--ion-color-medium) !important;
}

.table td {
	line-height: 30px !important;
}

.table > thead > tr > th {
	background-color: var(--ion-color-medium-shade) !important;
	color: var(--ion-color-light-shade) !important;
}

.text-muted {
	color: var(--ion-color-medium-tint) !important;
}

.small-text {
	font-size: 14px;
}
.tiny-text{
	font-size: 11px;
}

.medium-text{
	font-size:16px;
}
.large-text {
	font-size: 24px;
}

.alert-message {
	color: var(--ion-text-color) !important;
}
/* fab buttons*/
.fab-button {
	position: fixed;
	right: 5%;
	bottom: 5%;
	z-index: 999999;
	transition: all .8s;
	
}
/* end*/
.title_border {
	border: 2px solid white;
	text-transform: uppercase;
	padding: 8px;
	font-weight: 600;
	display: inline-block;
}

.comp_back{
	background-color: var(--ion-color-dark);
}

.line_bottom::after{
    content: "";
    border-bottom: solid .8px var(--ion-color-primary-shade);
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
